<div class="monoblok-template">
  <div class="template-header">
    <div class="template-header-flex">
      <div>
        <div class="monoblok-model-header-title big-text monoblok-model-header-title-main">
          {{monoblok_model_header_title}}
        </div>
        <div class="monoblok-model-header-title medium-text monoblok-model-header-title-dop">
          {{monoblok_model_header_dop_title}}
        </div>
      </div>
      <div class="monoblok-template-header-title small-text">
        Моноблок Тесла. Рациональный комфорт.
      </div>
    </div>

    <div class="mb-image">
      {{mb_image}}
    </div>
  </div>
  <div class="template-body flex-column-template">
    <div>
      <div class="mb-drawing-2">{{image_drawing_2}}</div>
      <div class="mb-drawing-1">{{image_drawing_1}}</div>
    </div>
    <div>
      <div class="information-block information-block-features">
        <div class="features-title title-text">
          {{features_title}}
        </div>
        <div class="main-info-blocks" style="margin-top: 30px;">
          <div class="main-info-block">
            <div class="main-info-block-title medium-text" style="margin-bottom: 20px;">Особенности данного шасси*:</div>
            <div class="main-info-block-body features-grid">
              {{features}}
            </div>
            <span class="additional-features-info">{{additionall_features_info}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="monoblok-website-link" href="https://monoblok.by" target="_blank">
    <div class="company-name medium-text">
      ООО БелЭВМ
    </div>
  </a>
</div>