<div class="monoblok-template">
  <div class="template-header">
    <div>
      <div class="monoblok-model-header-title big-text">
        {{monoblok_model_header_title}}
      </div>
      <div class="monoblok-model-header-title medium-text">
        {{monoblok_model_header_dop_title}}
      </div>
    </div>
    <div class="monoblok-template-header-title small-text">
      Моноблок Тесла. Рациональный комфорт.
    </div>
  </div>
  <div class="template-body">
    {{colors}}
    <div class="information-block">
      <div class="main-info-blocks" style="margin-top: 30px;">
        <div class="main-info-block">
          <div class="main-info-block-title medium-text">Разъемы на левой боковой панели*:</div>
          <div class="main-info-block-body features-grid">
            {{features}}
          </div>
        </div>
        
        <div class="main-info-group-blocks" style="margin-top: 20px;">
          <div class="main-info-block" style="width: 50%;">
            <div class="main-info-block-title medium-text">Разъемы на правой боковой панели*:</div>
            <div class="main-info-block-body features-grid">
              {{dop_features_1}}
            </div>
          </div>
          <div class="main-info-block" style="width: 50%;">
            <div class="main-info-block-title medium-text">Встроенное оборудование:</div>
            <div class="main-info-block-body features-grid">
              {{dop_features_2}}
            </div>
          </div>
        </div>
      </div>
      <span class="additional-features-info" style="margin-top: 10px; display: block;">{{additionall_features_info}}</span>
      <hr>
      
      <div class="dop-info-block">
        <div class="features-grid">
          {{dop_info}}
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-block-absolute-position">
    <div class="warranty-block">
      Гарантия на готовое изделие: 36 месяцев
    </div>
    <a class="monoblok-website-link" href="https://monoblok.by" target="_blank">www.monoblok.by</a>
  </div>
</div>
